body {
  margin: 0;
  font-family: 'Inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

.app {
  min-height: 100vh;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --body-color-light:#ffffff;
  --body-color-dark:black;
  --primary-color-dark: white;
  --primary-color-light: black;
  --secondary-color-dark:rgb(189, 189, 189);
  --secondary-color-light:rgb(31, 31, 31);

  /* add bottom nav variables */
  --bottom-nav-bg-light: #ffffff;
  --bottom-nav-bg-dark: #0e0e0e;

  --bottom-nav-icon-light: #000000;
  --bottom-nav-icon-dark: #ffffff;

  /* qucik-box */
  --quick-box-bg-light:rgb(243, 241, 241);
  --quick-box-bg-dark:rgb(12, 12, 12);
/* warning text box */

}

/* LIGHT THEME */
body .app.light .box {
  background-color: var(--bottom-nav-bg-light);
  color: var(--bottom-nav-icon-light);
  backdrop-filter: blur(12px);
}
body .app.dark{
  background-color: var(--body-color-dark);
  color:var(--primary-color-dark)
}
/* DARK THEME */
body .app.dark .box {
  background-color: var(--bottom-nav-bg-dark);
  color: var(--bottom-nav-icon-dark);
}

/* paragraph */
body .app.dark p{
  color: var(--secondary-color-dark);
}
body .app.light p{
  color: var(--secondary-color-light);
}

/* quick-box */
body .app.dark .quick-box{
  background-color: var(--quick-box-bg-dark);
}
body .app.light .quick-box{
  background-color: var(--quick-box-bg-light);
}
body .app.dark .warn-box{
  
}
--warn-bg-dark{
  color: red;
}

/* make icons inherit color */
.box svg {
  color: inherit;
}
